
@font-face {
  font-family: 'Charter';
  src:  url('../fonts/charter.woff') format('woff'),
        url('../fonts/charter.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
	font-size:62.5%;
	padding-bottom: 0;

}

html, body{
	height: 100%;
}

.container {
	min-height: 100%;
	padding-bottom: 15rem;
}

ul {
	padding: 0;
}




.col-left{
	/*border: 1px solid black;*/
	
	font-size: 20px;
	font-family: 'Charter', serif;
	

}


.col-rt {
	font-family: 'Fira Sans', sans-serif;
	background-color: ghostwhite;
	font-size: 20px;
	padding: 0px;
	border-radius: 30px;
	margin-top: 15px;
}

.col-rt ul {
	line-height: 46px;
}

.inner-right {
	
	margin: 60px;
	padding: 0px;
	
	max-width: 50rem;
	
	text-align: center;

}

#aboutmediv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#karmadiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#silentsongdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#shoppingdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#streetfighterdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#eucliddiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#rarefruitdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#quizdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#home {

	padding: 0px;
	text-align: left;
	max-width: 50rem;
	
}

#home img {
	/*center!*/
	display: block;
	margin: 0 auto;
	width: 21.5rem;
	border: 5px double steelblue;
	border-radius:  5px 100px 5px;
}



span {
	display: block;
}

h1{
	line-height: 0px;
}

ul {
	list-style-type: none;
}

.col-left li, h1 {
	cursor: pointer;
}

figure {
	margin-top: 16rem;
	padding: 1px;
}

figcaption {
	margin-top: 2rem;
}

.skills {
	line-height: 3.3rem;
}

#home p {
	margin-top: 2rem;
}

footer {
	text-align: center;
	background-color: steelblue;
	font-size: 22px;

	width: 100%;
	height: 7rem;
	margin-top: -7rem;
	overflow: hidden;
}


footer p {
	margin-top: 26px;

}

footer i {
	display: block;
	padding: 0 8px;
	color: black;
	font-size: 26px;
}

figcaption {
	font-size: 16px;

}
a:hover{
	text-decoration: none;
}

figure img {
	border-radius: 10px;
}



@media screen and (max-width: 760px){

/*	figure {
	margin-top: 2rem;
	padding: 1px;
}

	#home {
		margin-top: 2rem;
	padding: 1px;
	}
		*/
	.inner-right {
		text-align: left;
	}

	.col-rt {
		background-color: ghostwhite;
		border-radius: 20px;
	}

	figure {
		margin-top: 3rem;
		padding-top: 10px;
	}


	#home {
		padding-top: 3rem;

	}

	.container {
		padding-bottom: 6rem;
	}
}

@media screen and (max-width: 500px){

	figure img{
		width: 300px;
	}

}