
@font-face {
  font-family: 'Charter';
  src:  url('../fonts/charter.woff') format('woff'),
        url('../fonts/charter.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
	font-size:62.5%;
	font-family: 'Fira Sans', sans-serif;
}




.col-left{
	/*border: 1px solid black;*/
	background-color: white;
	font-size: 20px;
	font-family: 'Charter', serif;

}

.col-rt {
	background-color: white;
	height: 80rem;
	font-size: 20px;
	padding: 0px;
}

.inner-right {
	
	margin: 60px;
	padding: 0px;
	/*background-color: lightgray;*/
	max-width: 50rem;
	height: 500px;
	text-align: center;
}

#aboutmediv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#karmadiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#silentsongdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#streetfighterdiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#eucliddiv{
	display: none;
	padding: 0px;
	
	max-width: 50rem;
	height: 500px;
}

#home {

	padding: 0px;
	text-align: left;
	max-width: 50rem;
	height: 500px;
}

#home img {
	/*center!*/
	margin: 0 auto;
	width: 21.5rem;
	border: 5px double steelblue;
	border-radius:  5px 100px 5px;
}

span {
	display: block;
}

h1{
	line-height: 0px;
}

ul {
	list-style-type: none;
}

li, h1 {
	cursor: pointer;
}

figure {
	margin-top: 16rem;
	padding: 1px;
}

figcaption {
	margin-top: 2rem;
}

.skills {
	line-height: 3.3rem;
}

p {
	margin-top: 1rem;
}


@media screen and (max-width: 760px){

	figure {
	margin-top: 2rem;
	padding: 1px;
}
		


}